.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

#col1{
    float: left;
    width: 30%;
    margin-top: 20px;
}

#col1 h3{
    text-align: center;
    padding: 15px;
}

#col2{
    float: left;
    width: 70%;
    margin-top: 20px;
}

#col2 h3{
    text-align: center;
    padding: 15px;
}

#col3{
    float: left;
    width: 100%;
    margin-top: 20px;
}

#col3 h3{
    text-align: center;
    padding: 15px;
}

#col4{
    float: left;
    width: 100%;
    margin-top: 20px;
}

#col4 h3{
    text-align: center;
    padding: 15px;
}

#col5{
    float: left;
    width: 100%;
    margin-top: 20px;
}

#col5 h3{
    text-align: center;
    padding: 15px;
}

#col6{
    float: left;
    width: 100%;
    margin-top: 20px;
}

#col6 h3{
    text-align: center;
    padding: 10px;
}

#pfp{
    width: 4%;
    height: 4%;
    border-radius: 50%;
    padding: 10px;
}

#projecten{
    width: 30%;
    height: 30%;
    padding: 12px;
    text-align: center;
    position: relative;
    left: 49%;
    transform: translate(-50%, 0);
    margin: 1%;
}

form{
    width: 40%;
    height: 40%;
    padding: 12px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 30%;
}





